In [1]:
"""Task 16 : python(class - 29/12/2020)(Task with Pandas)"""
#Create a Dataframe, and merge it with a new column.

import numpy as np
import pandas as pd

In [2]:
store1 = {
    "Pen":['Red','Blue','Black','Orange','Green'],
    "Quantity":[10,20,15,22,38]
}
x1 = pd.DataFrame(store1)
x1

      Pen  Quantity
0     Red        10
1    Blue        20
2   Black        15
3  Orange        22
4   Green        38

In [3]:
store2 = {
    "Pen":['Red','Black','Green','Purple','silver'],
    "Refill Length":[15,12,14,13,11]
}
x2 = pd.DataFrame(store2)
x2

      Pen  Refill Length
0     Red             15
1   Black             12
2   Green             14
3  Purple             13
4  silver             11

In [7]:
xd = pd.merge(x1,x2, on='Pen', how = 'outer')
xd

      Pen  Quantity  Refill Length
0     Red      10.0           15.0
1    Blue      20.0            NaN
2   Black      15.0           12.0
3  Orange      22.0            NaN
4   Green      38.0           14.0
5  Purple       NaN           13.0
6  silver       NaN           11.0